name: Run tests and publish

on:
  push:
    branches:
      - master
      - beta
      - feature/*
    paths-ignore:
      - 'docs/**'
      - 'examples/**'
      - 'README.md'
  pull_request:
    paths-ignore:
      - 'docs/**'
      - 'README.md'

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Use node 12
      uses: actions/setup-node@v1
      with:
        node-version: 12
    - name: Install depencencies
      run: npm ci
    - name: Build library
      run: npm run build
    - name: Run code linting
      run: npm run lint
    - name: Run tests
      if: ${{ always() }}
      run: npm run jest
    - name: Send data to Coveralls
      if: ${{ always() }}
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
    - uses: svrooij/secret-gate-action@v1
      id: mygate
      with:
        inputsToCheck: 'NPM_TOKEN'
      env:
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
    - name: Semantic Release
      uses: cycjimmy/semantic-release-action@v2
      if: steps.mygate.outputs.inputsChecked == 'true'
      id: semantic
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
